.container{
    display: flex;
    margin-left: 50px;
    /* background-color: darkgray; */
    background-color: #f7f9fb;
    height: 600px;
    width: 900px;
}
.mydiv{
    background-color: rgb(221, 219, 219);
    height: 630px;
    width: 1250px;
}
.pie{
    margin-top: 2px;
}
table , th , td{
    border: 1px solid white;
    border-collapse: collapse;
}
.box0{
    background-color: #ffffff;
     padding: auto ;
     border-radius: 10px;
     margin-left: 10px;
     margin-right: 20px;
}
.head{
    border: 2px solid white;
    width: 820px;
    height: 40px;
    margin: 12px;
}
#myspan{
    margin-left: 70%;
}
#spn{
    /* margin-right: 50px; */
    white-space: nowrap;
    padding-left: 260px;
    margin-left: 2px;
}


#btn{
    border: 1px solid purple;
    background-color: white;
    margin: 3px;
    color: purple;
    
   
}

.row1{
    display: flex;
    margin: 12px;
    }

    .box1{
        background-color: #ffffff;
        padding: 5px 10px;
        border-radius: 10px;
    }
    
.column1{
    width: 400px;
    height: 150px;
    border: 2px solid white ;
}
.box2{
    background-color: #ffffff;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.column2{
    width: 400px;
    height: 150px;
    border: 2px solid white;
  margin-left: 9px;
  
}
.img1{
    height: 130px;
    width: 130px;
}
.img2{
    height: 150px;
    width:250px;
}
/* .img4{
    height: 150px;
    width: 280px;

} */
#p{
    word-spacing: 20px;
}

.img3{
    height: 150px;
    width:500px; 
    margin-left: 2px;
}
#as{
    display: flex;
  /* padding-top: -50px; */
  
    margin-top: -120px ;
    margin-left: 200px;
}
#as1{
    padding-left: 200px;
}
.row2{
    display: flex;
    margin: 9px;
}
.box3{
    background-color: #ffffff;
    padding: 2px 2px;
    border-radius: 10px;
    height: 165px;
}
.box4{
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.box5{
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.column3{
    width: 263px;
    height: 150px;
    border: 2px solid white;
    margin-left: 5px;
}
.row3{
    margin-right: 100px;
    display: flex;
    margin: 9px;
    box-sizing: border-box;
  /* width: 100%; */
  /* border: 5px solid grey; */
  /* float: left; */
}
.box6{
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    /* margin-left: 10px; */
}
.column4{
    width: 500px;
    height: 150px;
    border: 2px solid white;
    margin-left: 5px;
}
.box7{
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.column5{
    width: 300px;
    height: 150px;
    border: 2px solid white;
    margin-left: 5px;
    /* margin-top: 11px; */
}
.box8{
    background-color: #ffffff;
    padding: 5px 10px;
    /* border-radius: 10px; */
    /* margin-left: 10px; */
}
.two{
    width: 250px;
    height: 540px;
    border: 2px solid white;
    margin-left: 1%;
    /* padding-bottom: 6px; */
    margin-top: 10px;
}
.dot{
   
    height: 25px;
    width: 25px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: inline-block;
    /* margin-left: 24px; */
}
#aa2{
    display: flex;
    margin-left: 39px;
}
#aa3{
     display: flex;
    margin-left: 39px;
}
.user{
    width: 100px;
    border-radius: 2%;
/* margin-left: 16px;
  margin-bottom: 16px;
  padding-bottom: 17px;   */
}
#api{
    height:150px;
    width: 220px;
    

}

